outputs.txt
temperoryTestingVersion/*
redmi14.html

filestorage/mobiles/gsmarena.com/_request**.json
filestorage/mobiles/**gsm**/gsm**.json
filestorage/mobiles/**mobile**/**mobile**.json
filestorage/mobiles/**mega**/**mega**.json
filestorage/mobiles/**daraz**/**daraz**.json
filestorage/csvs/

**cache**/

**.zip